<h1>Endereço</h1>
    {{#if vazio}}
        <h3>Não encontrado</h3>
        <a href="/">Voltar</a>  
    {{else}}
        <p> 
            {{data.bairro}}
            {{data.localidade}}
            {{data.uf}}
            {{data.logradouro}}
            {{data.ddd}}
        </p>
    {{/if}}
    
      
    
    