<h1>Endereço buscado</h1>
    {{#if vazio}}
        <h3>Não encontrado</h3>
        <a href="/">Voltar</a>  
    {{else}}
        <p> 
            {{info.bairro}}
            {{info.localidade}}
            {{info.uf}}
            {{info.logradouro}}
            {{info.ddd}}
        </p>
    {{/if}}
    
      
    
    